CYCLOPOL_BASE_URI=https://www.example.com
CYCLOPOL_GEOCODER_BASE_URI=https://nominatim.openstreetmap.org
CYCLOPOL_DOWNLOAD_USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36"

MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=mydb
DATABASE_URL=mysql://user:password@db:3306/mydb?serverVersion=mariadb-10.4.11

PROXY_PORT=8113
NUXT_PORT=3005
APP_ENV=dev # for symfony
APP_DEBUG=true # for symfony debug mode
